name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest # Don't use this in production!
        python:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python }}
      - name: Upgrade pip
        run: pip install --upgrade pip
      - name: Install Poetry
        run: pip install poetry
      - name: Install Python dependencies
        run: poetry install --no-root
      - name: Lint Last Commit
        if: github.event_name == 'push'
        run: poetry run gitlint
      - name: Lint All Commits on Pull Request
        if: github.event_name == 'pull_request'
        run: poetry run gitlint --commits "origin/${{ github.base_ref }}...HEAD"
      - name: Format
        run: poetry run pre-commit run --all-files
      - name: Test
        run: poetry run coverage run --module pytest
      - name: Verify test coverage
        run: poetry run coverage html
      - name: Archive code coverage report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: code-coverage-report
          path: htmlcov
        if: ${{ failure() }}

  finalise:
    if: always()
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Check build job result
        run: |
          echo "Build job result: ${{ needs.build.result }}"
          if [[ "${{ needs.build.result }}" == "success" ]]; then
            echo ":white_check_mark: All required jobs succeeded."
          else
            echo ":x: One or more jobs failed."
            exit 1
          fi
